body
{
    background: #CCC;
    

}


.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; ; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index:1;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
}


#Header a:hover
{
    color: #6666FF;
}
#bg-img
{
    background: url('../img/port.jpg');
    background-size: 30%;
    background-repeat: no-repeat;
    min-height: 500px;
}
#About
{

   margin-top: -350px; 

}
#About .fa
{
    color: #FFF;
}

#About span
{
    padding: 10px 20px 10px 20px;
}
#About hr
{
border-width: 3px;
margin-top: 06px; 
 }


 #Skills span
 {
 padding: 10px 20px 10px 20px;
 }
 #Skills hr
 {
border-width: 3px;
margin-top: 06px; 
 }
  #Contact span
 {
 padding: 10px 20px 10px 20px;
 }
 #Contact hr
 {
border-width: 3px;
margin-top: 06px; 
 }
